---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<Header/>
	<main><h1>PRUEBA CON  MAYUSCULAS</h1></main>
</Layout>

<style>
	h1 {
		color: white;
		font-weight: 400;
	}
</style>