---
import Card from "./Card.astro";

interface Props {
    data: any[];
}

const { data } = Astro.props;

---

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    {data.map((x: any) => <Card {...x}/>)}
</section>