---

---

<header class="bg-lime-400 p-4">
    <nav class="container mx-auto flex justify-between items-center">
      <a href="/home" class="text-lime-950 text-xl font-bold">My site</a>
  
      <button
        id="menu-button"
        class="md:hidden text-lime-950"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>
  
      <ul class="hidden md:flex space-x-4">
        <li><a href="/home" class="text-lime-950">Home</a></li>
        <li><a href="/character" class="text-lime-950">Character</a></li>
        <li><a href="/location" class="text-lime-950">Location</a></li>
        <li><a href="/episode" class="text-lime-950">Episode</a></li>
      </ul>
    </nav>
  </header>
  
  
  