---
import { ViewTransitions, fade } from 'astro:transitions';
import { Header } from '../components/react/Header/Header';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions transition:animate={fade({ duration: '0.9s' })}/>
	</head>
	<body class="bg-lime-950 min-h-screen pb-32">
		<Header transition:persist client:visible/>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>

	@font-face {
		font-family: 'GetSchwifty';
		src: url('../../public/fonts/get_schwifty') format('ttf');
		font-weight: normal;
  font-style: normal;
  font-display: swap;
	}
	html {
		background: #13151a;
		background-size: 224px;
		/* font-family: 'Montserrat','Rubik','Roboto', sans-serif; */
		font-family: 'GetSchwifty', sans-serif;
		background-size: 224px;
		color-scheme: dark light;
	}
</style>